.textInput {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.textInput input {
    height: 30px;
    font-size: 15px;
    background-color: #4f4f4f;
    border: 1px solid #1e1e1e;
    color: #fff;
    width: 160px;
}